.bg-side {
	background-color: #391D34;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	transition: 0.3s;
}

.sidebar {
	flex: 1; /* Faça a barra lateral ocupar todo o espaço disponível verticalmente */
	padding: 20px;
	overflow-y: auto; /* Adicione uma barra de rolagem se o conteúdo for longo */
	transition: 0.3s;
}

.col-md {
	flex: 4; /* Faça o conteúdo principal ocupar o restante do espaço */
	padding: 20px;
}

.font-vinho {
	color: #A24D52;
}